*, *::after, *::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
    --color-primary: #181559 ;
    --color-secondary: #F97500 ;
    --color-background: #F3F3FC ;
    --color-text: #1C1C1C ;
    --color-highlight: #FFE6D6;
    --font-fat: "Luckiest Guy", cursive;
    --font-artistic: "Londrina Shadow", sans-serif;
    --font-normal: "Raleway", sans-serif;
}

body{
    background-color: var(--color-background);
    font-family: var(--font-normal);
}
/* HERO SECTION*/
section#hero-section{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1120px;
    padding: 30px;
}

.hero-content{
    flex: 1;
}

.hero-images{
    flex: 1;
    text-align: right;
}

.hero-content > h1{
    font-family: "Luckiest Guy", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
}

.hero-content > h1 > span{
    font-family: var(--font-artistic);
    font-weight: 400;
    font-style: normal;
    color: var(--color-secondary);
}

.hero-image{
    height: 520px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 14px 0px rgba(28,28,28,0.94); 
    box-shadow: 1px 1px 14px 0px rgba(28,28,28,0.94);
}

.hero-content > p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 24px 0px 24px 8px ;
}

.btn-servicios{
    padding: 16px;
    border: none;
    border-radius: 4px;
    margin: 24px 0px;
    font-size: 16px;
    font-family: var(--font-normal);
    font-weight: 700;
    color: var(--color-highlight);
    cursor: pointer;
    background: hsla(28, 100%, 49%, 1);
    background: linear-gradient(360deg, hsla(28, 100%, 49%, 1) 0%, hsla(36, 98%, 81%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(28, 100%, 49%, 1) 0%, hsla(36, 98%, 81%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(28, 100%, 49%, 1) 0%, hsla(36, 98%, 81%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F97500", endColorstr="#FED89F", GradientType=1 );

    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px var(--color-highlight);

}

.btn-servicios:hover {
    color: var(--color-primary);
    background-position: right center; 
    -webkit-box-shadow: 0px 5px 20px 4px rgba(28,28,28,0.34); 
    box-shadow: 0px 5px 20px 4px rgba(28,28,28,0.34);
}
  
.btn-nosotros{
    background-color: var(--color-background);
    padding: 16px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    margin: 24px 0px 24px 36px;
    font-size: 16px;
    font-family: var(--font-normal);
    cursor: pointer;
    transition: 0.5s;
}

.btn-nosotros:hover {
    background-position: right center; 
    background-color: var(--color-primary) ;
    color: var(--color-background);
    -webkit-box-shadow: 0px 5px 20px 4px rgba(28,28,28,0.34); 
    box-shadow: 0px 5px 20px 4px rgba(28,28,28,0.34);
}

.hero-counters{
    display: flex ;
    justify-content: space-between;
 
}

.hero-counter{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:130px;
    border-radius: 50%;
    height:130px;
    color: var(--color-primary);
    font-size:40px;
    transition: 0.5s;
}

.hero-counter:hover{
   
    -webkit-box-shadow: 0px 5px 20px 4px rgba(28, 28, 28, 0.11); 
    box-shadow: 0px 5px 20px 4px rgba(28,28,28,0.11);
}
.hero-counter > span:last-of-type{
    font-size: 14px;
}

.hero-counter-stats:nth-child(2) > span:first-child{
    font-size: 14px;
}